Quart
discord.py
discord.ui
jishaku
asyncio
aiohttp
datetime
typing
psutil
collection
pathlib
pymongo
httpx
discord.ext-context
tasksio
motor
Augmentor
numpy
aiosqlite
langdetect
python-dotenv
PyYAML
requests
duckduckgo-search==6.3.6
pillow==11.0.0
colorama
chess
python-dateutil
topggpy
